header ul {
  list-style-type: none;
  display: block;
}

header ul li {
  float: left;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
}
